@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Helvetica';
	src: url('/fonts/helvetica/HelveticaNeueMedium.otf') format('otf');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica';
	src: url('/fonts/helvetica/HelveticaNeueBold.otf') format('otf');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Aspekta';
	src: url('/fonts/aspekta/Aspekta-800.otf') format('otf');
	font-weight: 800;
	font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('/fonts/gotham/GothamMedium.ttf') format('ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'ProductSans';
    src: url('/fonts/product-sans/ProductSansRegular.ttf') format('ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'ProductSans';
    src: url('/fonts/product-sans/ProductSansBold.ttf') format('ttf');
    font-weight: bold;
}

html,
body {
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica';
}


@layer components {
	.headline {
		@apply font-aspekta text-[45px] md:text-[110px] tracking-tighter leading-9 md:leading-[90px] font-bold;
	}
    .title {
		@apply font-aspekta text-[45px] md:text-[80px] tracking-tighter leading-9 md:leading-[75px] font-bold;
    }
	.subtitle {
		@apply font-bold md:text-[30px] font-helvetica tracking-tight leading-9;
	}
  }