---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import DaikoonHero from "../components/daikoon-hero.astro";
import DaikoonNavbar from "../components/daikoon-navbar.astro";
import DaikoonSocials from "../components/daikoon-socials.astro";
import Hero2 from "../assets/images/hero-2.png";
import Hero3 from "../assets/images/hero-3.png";
import Hero4 from "../assets/images/hero-4.png";
import DaikoonStepper from "../components/daikoon-stepper.astro";
import DaikoonInvitation from "../components/daikoon-invitation.astro";
import DaikoonHeroImage from "../components/daikoon-hero-image.astro";
import DaikoonConcept from "../components/daikoon-concept.astro";
import DaikoonPartenaire from "../components/daikoon-partenaire.astro";
import DaikoonFaq from "../components/daikoon-faq.astro";
import DaikoonContact from "../components/daikoon-contact.astro";
import DaikoonFooter from "../components/daikoon-footer.astro";
---

<Layout title="Welcome to Daïkoon">
  <DaikoonNavbar />
  <main class="text-white font-helvetica overflow-x-hidden">
    <DaikoonSocials />
    <DaikoonHero />
    <DaikoonHeroImage image={Hero2} />
    <DaikoonStepper />
    <DaikoonInvitation />
    <DaikoonHeroImage image={Hero3} />
    <DaikoonConcept />
    <DaikoonHeroImage image={Hero4} />
    <DaikoonPartenaire />
    <DaikoonFaq />
    <DaikoonContact />
    <DaikoonFooter />
  </main>
</Layout>

<style></style>
