---
import { Image } from "astro:assets";
import DaikoonBluryImage from "../assets/images/daikoon-blury.png";

export interface Props {
  image: ImageMetadata;
}

const { image } = Astro.props;
---

<div
  class="w-screen h-[75vh] relative flex justify-center items-center overflow-hidden"
>
  <Image
    data-parallax="2"
    src={image}
    alt=""
    class="object-cover"
    width={1920}
  />
  <div class="absolute w-2/5 flex justify-center items-center">
    <Image src={DaikoonBluryImage} class="" alt="" width={768} />
  </div>
</div>
