---
import SvgIcon from "./common/svg-icon.astro";
import DaikoonLogo from "../assets/svg/daikoon-logo.svg?raw";

const listNavbarItems = [
  {
    label: "qui sommes nous ?",
  },
  {
    label: "le concept",
  },
  {
    label: "FAQ",
  },
  {
    label: "contact",
  },
];
---

<nav class="bg-transparent absolute md:fixed w-screen text-white text-lg z-50">
  <div
    class="max-w-screen-xl m-auto py-6 md:py-12 flex flex-row md:justify-between justify-center"
  >
    <SvgIcon raw={DaikoonLogo} />
    <div class="hidden md:block">
      <ul class="flex flex-row gap-6">
        {
          listNavbarItems.map((item) => {
            return (
              <li class="hover:text-dark-blue cursor-pointer">{item.label}</li>
            );
          })
        }
      </ul>
    </div>
  </div>
</nav>
