---
import SvgIcon from "./common/svg-icon.astro";
import LinkdinLogo from "../assets/svg/linkdin-logo.svg?raw";
import FacebookLogo from "../assets/svg/facebook-logo.svg?raw";
import InstagramLogo from "../assets/svg/instagram-logo.svg?raw";
import SnapshatLogo from "../assets/svg/snapshat-logo.svg?raw";
import TwitterLogo from "../assets/svg/twitter-logo.svg?raw";
import IsometricLogo from "../assets/images/isometric-logo.png";
import DaikoonBlury from "../assets/images/daikoon-blury.png";
import { Image } from "astro:assets";

const listSocials = [
  {
    label: "Snapshat",
    logo: SnapshatLogo,
    link: "",
  },
  {
    label: "Instagram",
    logo: InstagramLogo,
    link: "",
  },
  {
    label: "Facebook",
    logo: FacebookLogo,
    link: "",
  },
  {
    label: "Twitter",
    logo: TwitterLogo,
    link: "",
  },
  {
    label: "Linkdin",
    logo: LinkdinLogo,
    link: "",
  },
];
---

<section class="w-full bg-gradient-to-t from-light-blue to-white">
  <div
    class="m-auto max-w-screen-xl flex flex-col-reverse md:flex-row h-screen justify-center items-center p-6 md:p-12"
  >
    <div
      class="md:w-1/2 text-center md:text-end py-12 md:pr-56 flex flex-col items-center md:items-end gap-4 md:gap-8"
    >
      <h3 class="text-2xl text-dark-blue font-bold">
        Retrouvez-nous sur <br /> Nos réseaux sociaux !
      </h3>
      <div>
        <ul
          class="flex flex-row justify-center md:justify-start items-center gap-10 w-full text-dark-blue *:cursor-pointer select-none"
        >
          {
            listSocials.map((social) => (
              <li>
                <SvgIcon raw={social.logo} class="size-4 md:size-6" />
              </li>
            ))
          }
        </ul>
      </div>
    </div>
    <div class="md:w-1/2">
      <h2
        class="font-aspekta text-[40px] md:text-[80px] tracking-tighter text-dark-blue my-4"
      >
        Contactez nous !
      </h2>
      <h3
        class="font-helvetica text-[30px] tracking-tight leading-8 md:leading-none text-dark-blue font-bold"
      >
        N'hésitez pas à nous contacter !
      </h3>
      <form class="mt-8" action="">
        <div class="flex flex-col gap-4 font-normal text-dark-blue">
          <input
            type="text"
            placeholder="Prénom"
            class="w-full bg-white placeholder-dark-blue p-2 md:font-bold rounded-sm text-[15px] tracking-tight"
          />
          <input
            type="text"
            placeholder="Nom"
            class="w-full bg-white placeholder-dark-blue p-2 md:font-bold rounded-sm"
          />
          <input
            type="email"
            placeholder="e-mail"
            class="w-full bg-white placeholder-dark-blue p-2 md:font-bold rounded-sm"
          />
          <textarea
            placeholder="Saisissez votre message !"
            class="w-full bg-white placeholder-dark-blue p-2 md:font-bold rounded-sm h-48"
          ></textarea>
          <button class="bg-primary md:w-40 text-white font-bold p-4 rounded-md"
            >envoyer</button
          >
        </div>
      </form>
    </div>
  </div>
  <div class="flex flex-col justify-center items-center gap-8 py-20">
    <Image
      src={IsometricLogo}
      class="w-4/5 md:h-56 overflow-visible object-contain"
      alt=""
    />
    <Image src={DaikoonBlury} class="w-3/5 md:w-96" alt="" />
    <h3 class="text-xl md:text-2xl font-bold">téléchargez, défiez, gagnez !</h3>
  </div>
</section>
