---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import "../styles/global.css";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import BaseHead from "../components/common/base-head.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={SITE_TITLE}
      description={SITE_DESCRIPTION}
      image="images/daikoon_logo.svg"
    />
    <script src="/src/scripts/parallax"></script>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global></style>
